<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-tope navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <!--<div class="nav=collapse collapse">-->
            <ul class="nav">
              <% if user_signed_in? %>
                <li class="inverse-li">Logged in as <strong><%= current_user.email %></strong></li>
                <li class><%= link_to 'Edit profile', edit_user_registration_path %></li>
                <li class><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <%= link_to "Sign up", new_user_registration_path %>
                <%= link_to "Login", new_user_session_path %>
              <% end %>
            </ul>
            <% if user_signed_in? %>
            <%   current_resources = current_user.current_planet_resources %>
              <div class="pull-right">
                  <ul class="nav">
                    <li><div class="nav-resources">Population: <%= current_resources.population.floor %></div></li>
                    <li><div class="nav-resources">Metal: <%= current_resources.metal.floor %></div></li>
                    <li><div class="nav-resources">Uranium: <%= current_resources.uranium.floor %></div></li>
                    <li><div class="nav-resources">Arplax: <%= current_resources.arplax.floor %></div></li>
                  </ul>
              </div>
            <% end %>
          <!--</div>-->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <% if notice || alert %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        <% end %>

        <% if user_signed_in? %>
          <div class="span3">
            <ul class="nav nav-list">
              <li><%= link_to "Home", root_path %></li>
            </ul>
          </div>
        <% end %>

        <div class="span9">
          <%= yield %>
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
    </div>
  </body>
</html>
